### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [12]:
Total_players = purchase_data['SN'].nunique()
Total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Unique_items = purchase_data['Item ID'].nunique()
average_price = purchase_data['Price'].mean()
Number_of_purchase = purchase_data['Purchase ID'].count()
Total_Revenue = purchase_data['Price'].sum()
sum_df = pd.DataFrame({"Number of Unique Items":Unique_items, "Average Price":(average_price), "Number of Purchases":Number_of_purchase,"Total Revenue":Total_Revenue},index=[0])
sum_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
Gender_demo = purchase_data.groupby('Gender').SN.nunique()
Percentage=(Gender_demo/Total_players)*100
pd.DataFrame({'Total Count':Gender_demo,
                        'Percentage of Players':round(Percentage,2)})

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_count = purchase_data.groupby('Gender')["Purchase ID"].count()

purchase_average_gender = purchase_data.groupby('Gender')["Price"].mean()

purchase_sum_gender = purchase_data.groupby('Gender')["Price"].sum()

purchase_avg_person = purchase_sum_gender/Gender_demo

sum_df1=pd.DataFrame({'Purchase Count':purchase_count,'Average Purchase Price':round(purchase_average_gender,2),
                'Total Purchase Value':purchase_sum_gender,'Avg Total Purchase per Person':round(purchase_avg_person,2)})

sum_df1.style.format({'Average Purchase Price':'${:,.2f}',
                         'Total Purchase Value': '${:,.2f}',
                         'Avg Total Purchase per Person':'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
purchase_data['Age'].max()
bins = [0,9,14,19,24,29,34,39,45]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

pd_total=purchase_data.groupby(pd.cut(purchase_data["Age"], bins, labels=group_names))
total_C1=pd_total['SN'].nunique()
percent_player=total_C1/Total_players*100

pd.DataFrame({'Total Count':total_C1,'Pecentage of Players':round(percent_player,2)})

       Total Count  Pecentage of Players
Age
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:

total_C2=pd_total['Age'].count()

average_age=pd_total['Price'].mean()

total_age=pd_total['Price'].sum()

avg_person=total_age/total_C1
sum_df2=pd.DataFrame({'Purchase Count':total_C2,'Average Purchase Price':average_age,
               'Total Purchase Value':total_age,'Avg Total Purchase per Person':avg_person})
sum_df2.style.format({'Average Purchase Price':'${:,.2f}',
                         'Total Purchase Value': '${:,.2f}',
                         'Avg Total Purchase per Person':'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
Top_Spender = purchase_data.groupby('SN')['Purchase ID'].count()
spender_average_price = purchase_data.groupby('SN')["Price"].mean()
spender_sum_gender = purchase_data.groupby('SN')["Price"].sum()

df= pd.DataFrame({'Purchase Count':Top_Spender,'Average Purchase Price':round(spender_average_price,2),'Total Purchase Value':round(spender_sum_gender,2)})

sum_df3=df.sort_values('Total Purchase Value',ascending = False).head()
sum_df3.style.format({'Average Purchase Price':'${:,.2f}',
                         'Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
item_cols= purchase_data[[ 'Item ID','Item Name','Price']]

item_cols_list =item_cols.groupby(['Item ID','Item Name'])

item_cols_count =item_cols_list['Price'].count()

item_cols_sum =item_cols_list['Price'].sum()

item_cols_price = item_cols_sum/item_cols_count


item_cols_df=pd.DataFrame({'Purchase Count':item_cols_count,'Item Price':round(item_cols_price,2),'Total Purchase Value':round(item_cols_sum,2)})


sum_df4=item_cols_df.sort_values(['Purchase Count'],ascending = False).head()
sum_df4.style.format({'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
sum_df5=item_cols_df.sort_values(['Total Purchase Value'],ascending = False).head()
sum_df5.style.format({'Total Purchase Value': '${:,.2f}'})